/*
File Name: grid.css
Date: 05/21/18
Programmer: Sean Ropp
*/


.img1 { grid-area: header; }
.img2 { grid-area: header2; }


.grid-container {
    display: inline-grid;
    grid-template-areas:
        'header2 header';
/*    justify-content: space-evenly;
  grid-gap: 1px;*/
  background-color: @lightcolor;
 /* padding: 1px;*/
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  /*text-align: center;*/
}